<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout :: htmlhead"></head>
	<body>
		<div class="container">
			<nav th:replace="layout :: menu">(menu)</nav>
 			<div class="border border-dark">
				<form th:action="@{/cliente/(form)}" th:object="${cliente}" action="#" method="post">
					<input type="hidden" id="txtid" th:field="*{id}" />
				    <div class="form-group">
				        <label for="txtnome">Nome</label>
				        <input type="text" th:field="*{nome}" class="form-control" 
				        id="txtnome" placeholder="Nome">
				    </div>
				    <div class="form-group">
				        <label for="txtendereco">Endereço</label>
				        <input type="text" th:field="*{endereco}" class="form-control" 
				        id="txtendereco" placeholder="Digite endereço">
				    </div> 
				    <div class="form-group">
				        <label for="txtdataNascimento">Data Nascimento</label>
				        <input type="text" th:field="*{dataNascimento}" class="form-control" 
				        		id="txtdataNascimento" placeholder="Data">
				    </div> 
				    <button type="submit" class="btn btn-primary">Enviar</button>
				</form>
			</div>
		</div>
		<div th:include="layout :: footer" id="footer">(footer)</div>
	</body>
</html>